{% extends 'base.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <main>
        <!-- Navigation Accueil/Annonce Prof-->
        <section class="bg-title">
            <nav class="container " aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="revenir-accueil" href="{{ path('home') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Annonce</li>
                </ol>
            </nav>
            <div class="container">
                <h1 class="text-center mb-4">Profil de : {{ user.firstname }} {{ user.lastName }}</h1>
            </div>
        </section>
        <!--Photo profil-->
        <div class="container">
            <div class="row my-5">
                <div class="col-12 col-md-6 my-auto">
                    {% if user.photo %}
                    <img class="w-100 " src="{{ asset(user.photo) }}" alt="Photo d'un enseignant ou un établissement'">
                    {% endif %}
                </div>

                <!-- Envoyer un message / Ajouter au contact -->
                <div class="col-12 col-md-6 my-auto">
                    <p> Description du profil : {{ user.descriptionProfil }}</p>
                    <button type="button" class="btn btn-lg vert btn-form" data-whatever="@mdo">Ajouter contact</button>
                    <button type="button" class="btn btn-lg vert btn-form mt-3 mt-md-0"  data-whatever="@mdo">Envoyer un message</button>
                </div>
            </div>
        </div>

        <!-- Géolocalisation / Calendrier d'accueil / Capacités d'accueil /
            Numéro de téléphone / Boutton en "recherche d'échange" -->
        <section class="container-fluid bg-light">
            <div class="container">
                <div class="text-center">
                    <div class="row text-left my-4 py-3">
                        <div class="col-12 col-lg-6 pl-2">
                            <p><i class="mr-2 iconvsp fas fa-map-marker-alt couleur"></i>
                                {{ user.city }}, {{ user.country }}.
                            </p>

                            <p><i class="mr-2 iconvsp far fa-calendar-alt couleur"></i>
                                Disponibilité :
                               du {{ user.disponibilityDateStart| date('d/m/Y') }}
                                au {{ user.disponibilityDateEnd| date('d/m/Y') }}
                            </p>

                            <p><i class="fas fa-retweet couleur"></i>
                                Type d'échange souhaité : {{ user.options }}
                            </p>

                            <p><i class="fas fa-globe-europe couleur"></i>
                                Langue enseignée : {{ user.language| join(', ', ' et ') }}

                            </p>

                            <p><i class="fas fa-graduation-cap couleur"></i>
                                Niveaux enseignés : {{ user.level| join(', ', ' et ') }}
                            </p>

                            <p><i class="mr-2 iconvsp fas fa-users couleur"></i>
                                Capacité d'accueil : {{ user.capacity }}
                            </p>
                        </div>
                        <!-- Ma classe -->
                        <div class="col-12 col-lg-6">
                            <h3 class="mt-3 mt-md-0 text-center ">Description de la vie scolaire </h3>
                            <p> {{ user.descriptionSecondary }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Historique du profil desktop -->

        <section class="container-fluid mb-3">
            {% for publication in list_publication %}
                {% if app.user == publication.userPost %}
                    {% include 'inc/_publication_public.html.twig' %}
                {% endif %}
            {% endfor %}
        </section>

        <!-- Avis / Tapez votre commentaire desktop -->

        <div class="container-fluid bg-light pb-2">
            <div class="container mt-5">
                <h3 class="text-center mt-3 mt-md-0">Avis</h3>
                <div class="row d-flex justify-content-around">
                    <p class="text-center border col-md-5 col-sm-12"><strong>Sergio Marquina</strong>
                        <img src="img/5-etoiles.png" alt="5 étoiles" class="img"><br> L'échange scolaire avec
                        le professeur Henri Boudreault s'est super bien passé! Ses techniques sont innovatrices et il est très accueillant.</p>
                    <p class="text-center border col-md-5 col-sm-12"><strong>Gaston Clauet</strong><img src="img/5-etoiles.png"
                                                                                                        alt="5 étoiles" class="img"><br> La rencontre avec le
                        professeur Henri Boudreault nous a permis de constater son excellence et à quel point il est impliqué
                        émotionnellement dans la réussite de ses élèves.
                    </p>
                </div>
                <div class="collapse" id="avis">
                    <div>
                        <div class="row d-flex justify-content-around">
                            <p class="text-center border col-md-5 col-sm-12"><strong>Sabryna Mongeon</strong><img
                                        src="img/5-etoiles.png" alt="5 étoiles" class="img"><br> Henri propose une
                                façon d’apprendre inédite avec dynamisme, pédagogie, et une grande envie de partager.</p>
                            <p class="text-center border col-md-5 col-sm-12"><strong>Hugo Clément</strong><img src="img/5-etoiles.png"
                                                                                                               alt="5 étoiles" class="img"><br> Expérience
                                incroyable. Henri Boudreault était super durant tout notre séjour, il propose des activités ludiques pour apprendre une langue étrangère.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-form" type="button" data-toggle="collapse" data-target="#avis" aria-expanded="false"
                            aria-controls="avis">
                        Voir plus
                    </button>
                </div>
                <form class="mt-5">
                    <div class="mt-5 form-group text-center container">
                        <label for="exampleFormControlTextarea1">Entrez votre commentaire ici</label>
                        <textarea class="form-control bloquer" id="exampleFormControlTextarea1" rows="5"></textarea>
                        <button data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo" class="btn vert btn-form mt-3"
                                type="button" aria-expanded="false">
                            Poster
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
