{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>

{% endblock %}
{% block title %}Profil{% endblock %}

{% block body %}
    {{ form_start(profilForm) }}
    <main>
        <!-- Navigation Accueil/Annonce Prof-->
        <section class="bg-title">
            <nav class="container " aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="revenir-accueil" href="{{ path('home') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Profil</li>
                </ol>
            </nav>
            <div class="container">
                <h1 class="text-center mb-4">{{ user.firstname }} {{ user.lastName }}</h1>
            </div>
        </section>

        <!--Photo profil-->
        <section class="container-fluid">
            <div class="container">
                <div class="row my-5">
                    <div class="col-12 col-lg-6 my-auto">

                        {% if user.photo %}
                            <img src="{{ asset(user.photo) }}" class="w-100" alt="">
                        {% endif %}

                        <div class="py-2">
                            {{ form_widget(profilForm.photoFile) }}
                            {{ form_errors(profilForm.photoFile) }}
                        </div>
                    </div>

                    <!--Description profil -->
                    <div class="col-12 col-lg-6 text-center my-auto">
                        <h3 class="mt-3 mt-md-0 text-center">Description de votre profil</h3>
                        <p>{{ form_widget(profilForm.descriptionProfil, { attr : {style: 'height: 10rem' }}) }}
                            {{ form_errors(profilForm.descriptionProfil) }}
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <!-- Configuration du Profil -->
        <section class="container-fluid bg-light ">
            <div class="container">
                <div class="text-center">
                    <h3 class="pt-2">Configuration de votre profil</h3>
                    <div class="row text-left my-4">
                        <div class="col-12 col-lg-6 pl-2">
                            <fieldset class="border rounded m-2 p-2">

                                <p><i class="mr-2 iconvsp fas fa-map-marker-alt couleur"></i>
                                    Ville :
                                    {{ form_widget(profilForm.city) }}
                                    {{ form_errors(profilForm.city) }}
                                </p>

                                <hr class="my-4">

                                <p><i class="mr-2 iconvsp fas fa-map-marker-alt couleur"></i>
                                    Pays :
                                    {{ form_widget(profilForm.country) }}
                                    {{ form_errors(profilForm.country) }}
                                </p>

                                <hr class="my-4">

                                <p><i class="mr-2 iconvsp far fa-calendar-alt couleur"></i>Choisissez une date de
                                    début :
                                    {{ form_widget(profilForm.disponibilityDateStart) }}
                                    {{ form_errors(profilForm.disponibilityDateStart) }}
                                </p>

                                <hr class="my-4">

                                <p><i class="mr-2 iconvsp far fa-calendar-alt couleur"></i>Choisissez une date de fin
                                    :
                                    {{ form_widget(profilForm.disponibilityDateEnd) }}
                                    {{ form_errors(profilForm.disponibilityDateEnd) }}
                                </p>

                                <hr class="my-4">

                                <p><i class="fas fa-retweet couleur"></i>
                                    Recherche d'échange
                                    {{ form_widget(profilForm.options) }}
                                    {{ form_errors(profilForm.options) }}
                                </p>

                                <hr class="my-4">

                                <p><i class="fas fa-key couleur"></i>
                                    Ajoutez des mot clés liés à votre profil :
                                    {{ form_widget(profilForm.tags) }}
                                    {{ form_errors(profilForm.tags) }}
                                </p>
                            </fieldset>
                        </div>
                        <div class="col-12 col-lg-6">
                            <fieldset class="border rounded m-2 p-2">
                                <p><i class="far fa-edit couleur"></i>
                                    Description de votre vie scolaire
                                    {{ form_widget(profilForm.descriptionSecondary, { attr : {style: 'height: 15rem' }}) }}
                                    {{ form_errors(profilForm.descriptionSecondary) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-globe-europe couleur"></i>
                                    Langues enseignées :
                                    {{ form_widget(profilForm.language) }}
                                    {{ form_errors(profilForm.language) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-graduation-cap couleur"></i>
                                    Niveau de votre classe/établissement :
                                    {{ form_widget(profilForm.level) }}
                                    {{ form_errors(profilForm.level) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="mr-2 iconvsp fas fa-users couleur"></i>Capacite d'accueil :
                                    {{ form_widget(profilForm.capacity) }}
                                    {{ form_errors(profilForm.capacity) }}
                                </p>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Configuration personnelle du Profil-->
        <section class="container-fluid ">
            <div class="container">
                <div class="text-center">
                    <h3 class="pt-2">Configuration des données personnelles</h3>
                    <div class="row text-left my-4">
                        <div class="col-12 col-lg-6 ">
                            <fieldset class="border rounded m-2 p-2">
                                <p><i class="far fa-address-card couleur"></i>
                                    Votre nom :
                                    {{ form_widget(profilForm.lastName) }}
                                    {{ form_errors(profilForm.lastName) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="far fa-address-card couleur"></i>
                                    Votre prénom :
                                    {{ form_widget(profilForm.firstname) }}
                                    {{ form_errors(profilForm.firstname) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-at couleur"></i>
                                    Votre e-mail :
                                    {{ form_widget(profilForm.email) }}
                                    {{ form_errors(profilForm.email) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-unlock-alt couleur"></i>
                                    Votre mot de passe :
                                    {{ form_widget(profilForm.plainPassword) }}
                                    {{ form_errors(profilForm.plainPassword) }}
                                </p>
                            </fieldset>

                        </div>
                        <div class="col-12 col-lg-6">
                            <fieldset class="border rounded m-2 p-2">
                                <p><i class="fas fa-phone-alt couleur"></i>
                                    Votre numéro de téléphone :
                                    {{ form_widget(profilForm.phone) }}
                                    {{ form_errors(profilForm.phone) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-map-marked-alt couleur"></i>
                                    Votre adresse :
                                    {{ form_widget(profilForm.adress) }}
                                    {{ form_errors(profilForm.adress) }}
                                </p>
                                <hr class="my-4">

                                <p><i class="fas fa-map-marked-alt couleur"></i>
                                    Votre code postal :
                                    {{ form_widget(profilForm.cp) }}
                                    {{ form_errors(profilForm.cp) }}
                                </p>
                            </fieldset>

                        </div>
                        <div class="mx-auto ">
                            {{ form_widget(profilForm.submit, { attr : {class: 'btn btn-form' }} ) }}
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Publications faites par le profil -->

        <section class="container-fluid bg-light mb-3">
            <div class="container mx-auto">
                <div class="row">
                    {% for publi in list_publication %}

                        <div class="col-12 col-lg-6 mb-4">
                            <h3 class="text-center p-4">{{ publication.title }}</h3>
                            <div class="card p-3">
                                <img src="{{ asset(publication.pictureFile) }}" class="w-25" alt="Photo scolaire">
                                <div class="card-body">
                                    <p class="card-text ">
                                        {{ publication.descriptionPost }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Avis / Tapez votre commentaire desktop -->
        <section class="container-fluid mb-3">
            <div class="container mt-5">
                <h3 class="text-center mt-3 mt-md-0">Avis</h3>
                <div class="row d-flex justify-content-around">
                    <p class="text-center border col-md-5 col-sm-12"><strong>Sergio Marquina</strong>
                        <img src="img/5-etoiles.png" alt="5 étoiles" class="img"><br> L'échange scolaire avec
                        le professeur Henri Boudreault s'est super bien passé! Ses techniques sont innovatrices et
                        il
                        est très accueillant.</p>
                    <p class="text-center border col-md-5 col-sm-12"><strong>Gaston Clauet</strong><img
                                src="img/5-etoiles.png"
                                alt="5 étoiles" class="img"><br> La rencontre avec le
                        professeur Henri Boudreault nous a permis de constater son excellence et à quel point il est
                        impliqué
                        émotionnellement dans la réussite de ses élèves.
                    </p>
                </div>
                <div class="collapse" id="avis">
                    <div>
                        <div class="row d-flex justify-content-around">
                            <p class="text-center border col-md-5 col-sm-12"><strong>Sabryna Mongeon</strong><img
                                        src="img/5-etoiles.png" alt="5 étoiles" class="img"><br> Henri propose une
                                façon d’apprendre inédite avec dynamisme, pédagogie, et une grande envie de
                                partager.
                            </p>
                            <p class="text-center border col-md-5 col-sm-12"><strong>Hugo Clément</strong><img
                                        src="img/5-etoiles.png"
                                        alt="5 étoiles" class="img"><br> Expérience
                                incroyable. Henri Boudreault était super durant tout notre séjour, il propose des
                                activités ludiques pour apprendre une langue étrangère.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button class="btn btn-form" type="button" data-toggle="collapse" data-target="#avis"
                            aria-expanded="false"
                            aria-controls="avis">
                        Voir plus
                    </button>
                </div>
            </div>
        </section>
    </main>
    {{ form_end(profilForm) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="{{ asset('bundles/tetranzselect2entity/js/select2entity.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}