{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <main>
        <section class="bg-title">
            <nav class="container" aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="revenir-accueil" href="index.html">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Recherches</li>
                </ol>
            </nav>
            <div class="container">
                <h1 class="title-search pt-5 pb-5">Ton échange scolaire sur mesure</h1>
            </div>
        </section>
        <!--AFFINER RECHERCHE TWIG -->
        {{ form_start(affiner_form, {action: path('search_form')}) }}
    <section class="container">
        <div id="myGroup">
                <p class="mt-2">
                    <a class="btn btn-form pb-1" data-toggle="collapse" href="#affinerMaRecherche" role="button"
                       aria-expanded="false" aria-controls="affinerMaRecherche">Affiner ma recherche</a>
                </p>

            <div class="row">
                <div class="col-sm-12">
                     <div class="collapse multi-collapse" id="affinerMaRecherche" data-parent="#myGroup">
                         <div class="affinerDesktop d-none d-lg-block">
                            <div class="choix">
                        <label for="recipient-name" class="col-form-label font-weight-bold">Je cherche :</label>
                        {{ form_widget(affiner_form.options, {attr: {class: 'w-50'}}) }}

                            </div>

                            <div class="form-group my-3">
                                <label for="recipient-name" class="col-form-label font-weight-bold">Choisissez la langue du pays d'accueil :</label>
                                {{ form_widget(affiner_form.Langue, {attr: {class: 'form-control select-css w-30'}}) }}

                            </div>

                            <div class="form-group my-3">
                                <label for="recipient-name" class="col-form-label font-weight-bold">Choisissez le pays :</label>
                                {{ form_widget(affiner_form.country, {attr: {class: 'form-control select-css w-30'}}) }}

                            </div>

                            <div class="form-group my-3">
                                <label for="recipient-name" class="col-form-label font-weight-bold">Nombre d'élèves :</label>
                                {{ form_widget(affiner_form.capacity, {attr: {class: 'w-50'}}) }}

                            </div>

                            <div class="form-group my-3">
                                <label for="recipient-name" class="col-form-label font-weight-bold">Niveau des élèves :</label>
                                {{ form_widget(affiner_form.level, {attr: {class: 'w-50'}}) }}

                            </div>

                            <div class="my-5">

                                {{ form_widget(affiner_form.submit, {attr: {class: 'form-control w-50 mx-auto btn btn-form'}}) }}
                                {# <button type="submit" class="btn btn-form ">Valider</button> #}
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </section>
        {{ form_end(affiner_form) }}

  {#       <div class="affinerMobile d-block d-lg-none">
                                <!--Affiner Mobile-->
                                <select class="select-css select-mobile custom-select">
                                    <option selected>Je cherche</option>
                                    <option value="1">Accueillir élèves</option>
                                    <option value="2">Partir en voyage</option>
                                    <option value="3">Les deux</option>
                                </select>
                                <select class="select-css select-mobile custom-select">
                                    <option selected>Choisissez la langue du pays d'accueil</option>
                                    <option value="1">Français</option>
                                    <option value="2">Español</option>
                                    <option value="3">English</option>
                                </select>
                                <select class="select-css select-mobile custom-select">
                                    <option selected>Choisissez le pays d'accueil</option>
                                    <option value="france">France</option>
                                    <option value="mayotte">Mayotte</option>
                                    <option value="espagne">España</option>
                                    <option value="ecuateur">Ecuador</option>
                                    <option value="irlande">Ireland</option>
                                    <option value="angleterre">England</option>
                                </select>
                                <select class="select-css select-mobile custom-select">
                                    <option selected>Nombre d'élèves</option>
                                    <option value="1">Moins de 30 élèves</option>
                                    <option value="2">Entre 30 et 40 élèves</option>
                                    <option value="3">Plus de 40 élèves</option>
                                </select>
                                <select class="select-css select-mobile custom-select">
                                    <option selected>Niveau des élèves</option>
                                    <option value="1">Collège</option>
                                    <option value="2">Lycée</option>
                                    <option value="3">Collège et Lycée</option>
                                </select>

                            </div>

                            <div class="mt-3"><input class="btn btn-form pb-1" type="submit" value="Submit"></div>

                        </div>
                    </div>#}

        <!--ANNONCES CLICABLES DESKTOP-->
        <section class="container d-none d-md-block">

            {% if results | length > 0 %}
                {%include 'inc/_user_list.html.twig' with {list_users : results} %}
            {% else %}
                <p>Aucun résultat ne correspond à votre recherche</p>
            {% endif %}


        </section>
        <!--ANNONCES CLICABLES MOBILE-->
        <div class="container d- block d-lg-none mb-4">
            <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="img/prof5.jpg" class="d-block w-100" alt="établissement scolaire">
                        <div class="carousel-caption d-md-block text-slider">
                            <h5>Henri Boudreault</h5>
                            <p>Henri Boudreault Ph.D. professeur au collège Jean Mermoz, j'apporte des
                                techniques...</p>
                            <button type="button" class="btn-slider btn-link">Afficher le profil</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/prof6.jpg" class="d-block w-100" alt="établissement scolaire">
                        <div class="carousel-caption d-md-block text-slider">
                            <h5>Jérémy Dupont</h5>
                            <p>Jérémy Dupont professeur d'Anglais au collège La Tourelle, Polyglotte
                                depuis 10 ans...</p>
                            <button type="button" class="btn-slider btn-link">Afficher le profil</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/groupprof1.jpg" class="d-block w-100" alt="établissement scolaire">
                        <div class="carousel-caption d-md-block text-slider">
                            <h5>Lycée Stanislas</h5>
                            <p>Lorsqu’il s’agit d’apprendre un métier, nous faisons souvent référence
                                à l’apprentissage...</p>
                            <button type="button" class="btn-slider btn-link">Afficher le profil</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="img/groupprof2.jpg" class="d-block w-100" alt="établissement scolaire">
                        <div class="carousel-caption d-md-block text-slider">
                            <h5>Collège Fenelon</h5>
                            <p>La mobilité internationale et la maîtrise d'une ou de plusieurs langues
                                européennes...</p>
                            <button type="button" class="btn-slider btn-link">Afficher le profil</button>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>

    </main>
{% endblock %}
