{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}
    <main>
        <section class="bg-title">
            <nav class="container" aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    <li class="breadcrumb-item"><a class="revenir-accueil" href="{{ path('home') }}">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Recherches</li>
                </ol>
            </nav>
            <div class="container">
                <h1 class="title-search pt-5 pb-5">Ton échange scolaire sur mesure</h1>
            </div>
        </section>
        <!--AFFICHAGE DU FORMULAIRE DE LA RECHERCHE AVANCEE -->
        {{ form_start(affiner_form, {action: path('search_form')}) }}
        <section class="container">
            <div id="myGroup">
                <p class="mt-2">
                    <a class="btn btn-form pb-1" data-toggle="collapse" href="#affinerMaRecherche" role="button"
                       aria-expanded="false" aria-controls="affinerMaRecherche">Affiner ma recherche
                    </a>
                </p>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="collapse multi-collapse" id="affinerMaRecherche" data-parent="#myGroup">
                            <div class="affinerDesktop">
                                <div class="choix">
                                    <label for="recipient-name" class="col-form-label font-weight-bold">Je cherche
                                        :</label>
                                    {{ form_widget(affiner_form.options, {attr: {class: 'w-50'}}) }}

                                </div>

                                <div class="form-group my-3">
                                    <label for="recipient-name" class="col-form-label font-weight-bold">Choisissez la
                                        langue du pays d'accueil :</label>
                                    {{ form_widget(affiner_form.Langue, {attr: {class: 'form-control select-css w-30'}}) }}

                                </div>

                                <div class="form-group my-3">
                                    <label for="recipient-name" class="col-form-label font-weight-bold">Choisissez le
                                        pays :</label>
                                    {{ form_widget(affiner_form.country, {attr: {class: 'form-control select-css w-30'}}) }}

                                </div>

                                <div class="form-group my-3">
                                    <label for="recipient-name" class="col-form-label font-weight-bold">Nombre d'élèves
                                        :</label>
                                    {{ form_widget(affiner_form.capacity, {attr: {class: 'w-50'}}) }}

                                </div>

                                <div class="form-group my-3">
                                    <label for="recipient-name" class="col-form-label font-weight-bold">Niveau des
                                        élèves :</label>
                                    {{ form_widget(affiner_form.level, {attr: {class: 'w-50'}}) }}

                                </div>

                                <div class="my-5">

                                    {{ form_widget(affiner_form.submit, {attr: {class: 'form-control w-50 mx-auto btn btn-form'}}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {{ form_end(affiner_form) }}

        <!-- AFFICHAGE DU RESULTAT DE LA REQUETE -->
        <section class="container">
            {% if results | length > 0 %}
                {% include 'inc/_user_list.html.twig' with {list_users : results} %}
            {% else %}
                <p>Aucun résultat ne correspond à votre recherche</p>
            {% endif %}
        </section>
    </main>
{% endblock %}
