<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="shortcut icon" href="{{ asset('assets/img/logogo.png') }}" type="image/x-icon">
        <!--FONT AWESOME-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
              integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
        <!--BOOTSTRAP-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
              integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
              crossorigin="anonymous">
        <!--FONT BIRYANI-->
        <link href="https://fonts.googleapis.com/css2?family=Biryani:wght@200,300,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    {% endblock %}

</head>
<body>
<header class="bg-light">
    <nav class="container navbar navbar-expand-lg navbar-light d-flex">
        <!--logo cliquable pour revenir sur la page d'accueil-->
        <a class="mr-lg-5 navbar-brand" href="{{ path('home') }}">
            <img class="logo" src="{{ asset('assets/img/logo.png') }}" alt="logo site echange-scolaire">
        </a>

        <!--à partir d'ici en version mobile c'est un Menu Hamburguer-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <form class="form-inline">
                <input class="form-control" type="search" id="search" placeholder="Rechercher" aria-label="Search">
                <button class="btn btn-form"><i class="fas fa-search"></i></button>
            </form>


            <ul class="navbar-nav">
                {% if app.user %}

                    <li class="nav-item d-flex">
                        <a class="nav-link btn-nav" onclick="return confirm('Etes-vous sûr de vouloir vous déconnecter ?');"
                           href="{{ path('app_logout') }}">Déconnexion<span class="sr-only">(current)</span>
                        </a>
                    </li>

                    <li class="nav-item d-flex ">
                        <a class="nav-link btn-nav" href="{{ path('profil_edit', {id: app.user.id}) }}">Profil<span
                           class="sr-only">(current)</span></a>
                    </li>

                {% else %}

                    <li class="nav-item d-flex ">
                        <a class="nav-link btn-nav" href="{{ path('app_login') }}">Connexion<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item d-flex">
                        <a class="nav-link btn-nav" data-toggle="modal" data-target="#exampleModal"
                           href="{{ path('app_register') }}">Inscription<span class="sr-only">(current)</span></a>
                    </li>

                {% endif %}

                <li class="nav-item dropdown ml-lg-5">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('mentions/a/propos') }}">Contact</a>
                        <a class="dropdown-item" href="{{ path('mentions/a/propos') }}">À Propos</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('mentions/a/propos') }}">Mentions Légales</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Inscription</h1>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% set registrationForm = form_service.registrationForm %}
                    {% include 'form/register-form.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <!--COOKIES DESKTOP-->
    <div id="cookiesConteneur">
        <div id="cookiesCon">
            <p>
                Ce site utilise des cookies pour vous offrir le meileur service. En poursuivant votre navigation, vous
                acceptez l'utilisation des cookies.
            </p>
            <input class="btn btn-form" type="submit" id="accepte" value="J'accepte">
            <input class="btn btn-form" type="submit" id="savoirPlus" value="En savoir plus"
                   onclick="window.location='mentionsapropos.html#politiqueconfidentialite';">
        </div>
    </div>

    <!--COOKIES MOBILE-->
    <div id="cookiesMobile">
        <div id="cookiesMob">
            <p>
                <i class="far fa-times-circle" id="croix"></i>
                Ce site utilise des cookies pour vous offrir le meileur service. En poursuivant votre navigation, vous
                acceptez l'utilisation des cookies.
            </p>
            <div>
                <input class="btn btn-form" type="submit" id="accepteMob" value="J'accepte">
            </div>
            <div>
                <input class="btn btn-form" type="submit" id="savoirPlusMob" value="En savoir plus"
                       onclick="window.location='mentionsapropos.html#politiqueconfidentialite';">
            </div>
        </div>
    </div>
</header>


{% block body %}{% endblock %}

<!-- FOOTER -->
<footer class="page-footer font-small mdb-color pt-2">
    <div class="container text-center">
        <div class="row text-center text-md-left d-flex justify-content-center">

            <!-- Grid column -->
            <div class="col-12 col-md-4 bas mx-auto" id="info">
                <h6 class="text-uppercase font-weight-bold pt-2">Mentions Légales</h6>
                <div class="cache">
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">CGU</a></p>
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Politique de confidencialité</a></p>
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Droits d'auteur et droits de
                            reproduction</a></p>
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Accesibilité du site</a></p>
                </div>
            </div>

            <hr class="w-100 clearfix d-block d-md-none">

            <!-- Grid column -->
            <div class="col-12 col-md-4 bas">
                <h6 class="text-uppercase font-weight-bold pt-2">À Propos</h6>
                <div class="cache">
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Qui sommes-nous ?</a></p>
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Nous rejoindre</a></p>
                    <p><a href="{{ path('mentions/a/propos') }}" class="couleur">Contactez-nous</a></p>
                </div>
            </div>

            <hr class="w-100 clearfix d-block d-md-none">

            <!-- Grid column -->
            <div class="col-12 col-md-4 mx-auto bas">
                <h6 class="text-uppercase font-weight-bold pt-2">Contact</h6>
                <div class="cache">
                    <p><i class="fas fa-home mr-3"></i> 18 Rue Geoffroy l'Asnier, 75004 Paris</p>
                    <p><i class="fas fa-envelope mr-3"></i> echange-scolaire@gmail.com</p>
                    <p><i class="fas fa-phone mr-3"></i> 01 42 58 75 88</p>
                </div>
            </div>
        </div>

        <hr class="w-100 clearfix d-block d-md-none">

        <!-- FIN DE PAGE -->
        <div class="row d-flex align-items-center bg-transparent">
            <div class="col-6 col-md-7 col-lg-8 pt-2">
                <!--Copyright-->
                <p class="text-center text-md-left">© 2020 Copyright:
                    <a href="https://echange-scolaire.fr/" class=" revenir-accueil">
                        <strong>echange-scolaire.com</strong>
                    </a>
                </p>
            </div>

            <!-- Grid column -->
            <div class="col-6 col-md-5 col-lg-4 ml-lg-0 pt-2">
                <!-- Social buttons -->
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="facebook.com">
                                <i class="fab fa-facebook-f couleur"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="twitter.com">
                                <i class="fab fa-twitter couleur"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="google.com">
                                <i class="fab fa-google-plus-g couleur"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1" href="linkedin.com">
                                <i class="fab fa-linkedin-in couleur"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script
            src="https://code.jquery.com/jquery-2.2.4.min.js"
            integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
    <script>$('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $(this).next('.custom-file-label').html(fileName);
        });
    </script>


    <script src="{{ asset('assets/js/script.js') }}"></script>
{% endblock %}
</body>
</html>

