<section class="bg-title">
    <nav class="container" aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent">
            <li class="breadcrumb-item"><a class="revenir-accueil" href="{{ path('home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Inscription</li>
        </ol>
    </nav>
    <div class="container">
        <h1 class="text-center mb-4">Inscription</h1>
    </div>
</section>

{{ form_start(registrationForm, {action: path('app_register')}) }}
<div class="container text-center my-5">
    {{ form_errors(registrationForm) }}

    <div class="form-group  mx-auto">
        <label class="col-form-label ">Vous êtes : </label>
        <div class="select-css w-25 mx-auto">
            {{ form_widget(registrationForm.entite) }}
            {{ form_errors(registrationForm.entite) }}
        </div>
    </div>
    <!--NOM-->
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nom:</label>
        <input type="text" class="form-control w-25 mx-auto" id="recipient-name"
            {{ form_widget(registrationForm.lastName) }}
            {{ form_errors(registrationForm.lastName) }}
    </div>

    <!--Adresse mail-->
    <div class="form-group">
        <label for="message-text" class="col-form-label">Addresse mail:</label>
        <input type="email" class="form-control w-25 mx-auto" id="message-text"
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    <!--Mot de passe-->
    <div class="form-group">
        <label for="message-text" class="col-form-label">Mot de passe:</label>
        <input type="password" class="form-control w-25 mx-auto" id="recipient-name"
        {{ form_widget(registrationForm.plainPassword, {label:  'Mot de passe:'}) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>

    <!-- J'ai lu et J'accepte les termes et conditions-->
    <div class="mt-5 text-center">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}

        <label class="form-check-label" for="invalidCheck3">
            J'ai lu et j'accepte <a href="/mentionapropos.html#droits">les termes et conditions</a>
        </label>
    </div>
    <div class="my-5">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Pas maintenant</button>

        <button type="submit" class="btn btn-form ">S'inscrire</button>
    </div>
</div>
{{ form_end(registrationForm) }}
