
{{ form_start(registrationForm, {action: path('app_register')}) }}
<div class="container">


    <div class="form-check">
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-4 pt-0">Vous êtes :</legend>
                <div class="col-sm-8">
                    {{ form_widget(registrationForm.entite, { 'entité': 'enseignant' }) }}
                </div>
            </div>
        </fieldset>
    </div>
    <!--NOM-->
    <div class="form-group">
        <label for="recipient-name" class="col-form-label">Nom:</label>
        {{ form_widget(registrationForm.lastName) }}
        {{ form_errors(registrationForm.lastName) }}

    </div>

    <!--Adresse mail-->
    <div class="form-group">
        <label for="message-text" class="col-form-label">Adresse mail:</label>
        {{ form_widget(registrationForm.email) }}
        {{ form_errors(registrationForm.email) }}

    </div>
    <!--Mot de passe-->
    <div class="form-group">
        <label for="message-text" class="col-form-label">Mot de passe:</label>
        {{ form_widget(registrationForm.plainPassword, {label:  'Mot de passe:'}) }}
        {{ form_errors(registrationForm.plainPassword) }}

    </div>

    <!-- J'ai lu et J'accepte les termes et conditions-->
    <div class="mt-5 text-center">
        {{ form_widget(registrationForm.agreeTerms) }}
        {{ form_errors(registrationForm.agreeTerms) }}

        <label class="form-check-label" for="invalidCheck3">
            J'ai lu et j'accepte <a href="/mentionapropos.html#droits">les termes et conditions</a>
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Pas maintenant</button>

        <button type="submit">S'inscrire</button>

    </div>
</div>
{{ form_end(registrationForm) }}
